base_account_budget/__init__.py
base_account_budget/__manifest__.py
base_account_budget/README.rst
base_account_budget/doc/RELEASE_NOTES.md
base_account_budget/i18n/zh_CN.po
base_account_budget/models/__init__.py
base_account_budget/models/account_analytic_account.py
base_account_budget/models/account_budget.py
base_account_budget/security/account_budget_security.xml
base_account_budget/security/ir.model.access.csv
base_account_budget/static/description/banner.png
base_account_budget/static/description/cybro_logo.png
base_account_budget/static/description/icon.png
base_account_budget/static/description/index.html
base_account_budget/static/description/assets/icons/check.png
base_account_budget/static/description/assets/icons/chevron.png
base_account_budget/static/description/assets/icons/cogs.png
base_account_budget/static/description/assets/icons/consultation.png
base_account_budget/static/description/assets/icons/ecom-black.png
base_account_budget/static/description/assets/icons/education-black.png
base_account_budget/static/description/assets/icons/hotel-black.png
base_account_budget/static/description/assets/icons/license.png
base_account_budget/static/description/assets/icons/lifebuoy.png
base_account_budget/static/description/assets/icons/manufacturing-black.png
base_account_budget/static/description/assets/icons/pos-black.png
base_account_budget/static/description/assets/icons/puzzle.png
base_account_budget/static/description/assets/icons/restaurant-black.png
base_account_budget/static/description/assets/icons/service-black.png
base_account_budget/static/description/assets/icons/trading-black.png
base_account_budget/static/description/assets/icons/training.png
base_account_budget/static/description/assets/icons/update.png
base_account_budget/static/description/assets/icons/user.png
base_account_budget/static/description/assets/icons/wrench.png
base_account_budget/static/description/assets/misc/categories.png
base_account_budget/static/description/assets/misc/check-box.png
base_account_budget/static/description/assets/misc/compass.png
base_account_budget/static/description/assets/misc/corporate.png
base_account_budget/static/description/assets/misc/customer-support.png
base_account_budget/static/description/assets/misc/cybrosys-logo.png
base_account_budget/static/description/assets/misc/features.png
base_account_budget/static/description/assets/misc/logo.png
base_account_budget/static/description/assets/misc/pictures.png
base_account_budget/static/description/assets/misc/pie-chart.png
base_account_budget/static/description/assets/misc/right-arrow.png
base_account_budget/static/description/assets/misc/star.png
base_account_budget/static/description/assets/misc/support.png
base_account_budget/static/description/assets/misc/whatsapp.png
base_account_budget/static/description/assets/modules/1.png
base_account_budget/static/description/assets/modules/2.png
base_account_budget/static/description/assets/modules/3.png
base_account_budget/static/description/assets/modules/4.png
base_account_budget/static/description/assets/modules/5.gif
base_account_budget/static/description/assets/modules/6.png
base_account_budget/static/description/assets/modules/approval_image.png
base_account_budget/static/description/assets/modules/dynamic_image.png
base_account_budget/static/description/assets/modules/list_view_image.png
base_account_budget/static/description/assets/modules/multiple_ref_image.png
base_account_budget/static/description/assets/modules/print_image.png
base_account_budget/static/description/assets/modules/product_return_image.png
base_account_budget/static/description/assets/screenshots/base_account_budget-1.png
base_account_budget/static/description/assets/screenshots/base_account_budget-2.png
base_account_budget/static/description/assets/screenshots/base_account_budget-3.png
base_account_budget/static/description/assets/screenshots/base_account_budget-4.png
base_account_budget/static/description/assets/screenshots/hero.png
base_account_budget/static/description/assets/screenshots/screenshot-1.png
base_account_budget/static/description/assets/screenshots/screenshot-2.png
base_account_budget/static/description/assets/screenshots/screenshot-3.png
base_account_budget/views/account_analytic_account_views.xml
base_account_budget/views/account_budget_views.xml
base_accounting_kit/__init__.py
base_accounting_kit/__manifest__.py
base_accounting_kit/README.rst
base_accounting_kit/data/account_financial_report_data.xml
base_accounting_kit/data/account_pdc_data.xml
base_accounting_kit/data/cash_flow_data.xml
base_accounting_kit/data/followup_levels.xml
base_accounting_kit/data/multiple_invoice_data.xml
base_accounting_kit/data/recurring_entry_cron.xml
base_accounting_kit/doc/RELEASE_NOTES.md
base_accounting_kit/i18n/ar_001.po
base_accounting_kit/i18n/de_CH.po
base_accounting_kit/i18n/es_AR.po
base_accounting_kit/i18n/fr_BE.po
base_accounting_kit/i18n/uk_UA.po
base_accounting_kit/i18n/zh_CN.po
base_accounting_kit/i18n/zh_HK.po
base_accounting_kit/models/__init__.py
base_accounting_kit/models/account_account.py
base_accounting_kit/models/account_asset.py
base_accounting_kit/models/account_dashboard.py
base_accounting_kit/models/account_followup.py
base_accounting_kit/models/account_journal.py
base_accounting_kit/models/account_move.py
base_accounting_kit/models/account_payment.py
base_accounting_kit/models/credit_limit.py
base_accounting_kit/models/multiple_invoice_layout.py
base_accounting_kit/models/multiple_invoice.py
base_accounting_kit/models/product_template.py
base_accounting_kit/models/recurring_payments.py
base_accounting_kit/models/res_company.py
base_accounting_kit/models/res_config_settings.py
base_accounting_kit/models/res_partner.py
base_accounting_kit/report/__init__.py
base_accounting_kit/report/account_asset_report_views.xml
base_accounting_kit/report/account_asset_report.py
base_accounting_kit/report/account_bank_book_view.xml
base_accounting_kit/report/account_bank_book.py
base_accounting_kit/report/account_cash_book_view.xml
base_accounting_kit/report/account_cash_book.py
base_accounting_kit/report/account_day_book_view.xml
base_accounting_kit/report/account_day_book.py
base_accounting_kit/report/account_report_common_account.py
base_accounting_kit/report/cash_flow_report.py
base_accounting_kit/report/cash_flow_report.xml
base_accounting_kit/report/general_ledger_report.py
base_accounting_kit/report/general_ledger_report.xml
base_accounting_kit/report/multiple_invoice_layouts.xml
base_accounting_kit/report/multiple_invoice_report.py
base_accounting_kit/report/multiple_invoice_report.xml
base_accounting_kit/report/report_aged_partner.py
base_accounting_kit/report/report_aged_partner.xml
base_accounting_kit/report/report_financial.py
base_accounting_kit/report/report_financial.xml
base_accounting_kit/report/report_journal_audit.py
base_accounting_kit/report/report_journal_audit.xml
base_accounting_kit/report/report_partner_ledger.py
base_accounting_kit/report/report_partner_ledger.xml
base_accounting_kit/report/report_tax.py
base_accounting_kit/report/report_tax.xml
base_accounting_kit/report/report_trial_balance.py
base_accounting_kit/report/report_trial_balance.xml
base_accounting_kit/report/report.xml
base_accounting_kit/security/ir.model.access.csv
base_accounting_kit/security/security.xml
base_accounting_kit/static/description/banner.gif
base_accounting_kit/static/description/cybro_logo.png
base_accounting_kit/static/description/hero.png
base_accounting_kit/static/description/icon.png
base_accounting_kit/static/description/index.html
base_accounting_kit/static/description/assets/icons/chevron.png
base_accounting_kit/static/description/assets/icons/cogs.png
base_accounting_kit/static/description/assets/icons/consultation.png
base_accounting_kit/static/description/assets/icons/ecom-black.png
base_accounting_kit/static/description/assets/icons/education-black.png
base_accounting_kit/static/description/assets/icons/hotel-black.png
base_accounting_kit/static/description/assets/icons/license.png
base_accounting_kit/static/description/assets/icons/lifebuoy.png
base_accounting_kit/static/description/assets/icons/manufacturing-black.png
base_accounting_kit/static/description/assets/icons/pos-black.png
base_accounting_kit/static/description/assets/icons/puzzle.png
base_accounting_kit/static/description/assets/icons/restaurant-black.png
base_accounting_kit/static/description/assets/icons/service-black.png
base_accounting_kit/static/description/assets/icons/trading-black.png
base_accounting_kit/static/description/assets/icons/training.png
base_accounting_kit/static/description/assets/icons/update.png
base_accounting_kit/static/description/assets/icons/user.png
base_accounting_kit/static/description/assets/icons/wrench.png
base_accounting_kit/static/description/assets/misc/cybrosys-logo.png
base_accounting_kit/static/description/assets/misc/logo.png
base_accounting_kit/static/description/assets/misc/support.png
base_accounting_kit/static/description/assets/misc/whatsapp.png
base_accounting_kit/static/description/assets/modules/1.png
base_accounting_kit/static/description/assets/modules/2.png
base_accounting_kit/static/description/assets/modules/3.png
base_accounting_kit/static/description/assets/modules/4.png
base_accounting_kit/static/description/assets/modules/5.png
base_accounting_kit/static/description/assets/modules/6.png
base_accounting_kit/static/description/images/accounting-dashboard.png
base_accounting_kit/static/description/images/arabic.png
base_accounting_kit/static/description/images/auto_payroll_banner.png
base_accounting_kit/static/description/images/blue-pattern.png
base_accounting_kit/static/description/images/bud_banner.png
base_accounting_kit/static/description/images/dashboard.png
base_accounting_kit/static/description/images/dynamic_image.png
base_accounting_kit/static/description/images/espanol.png
base_accounting_kit/static/description/images/green-right-pattern.png
base_accounting_kit/static/description/images/hero.png
base_accounting_kit/static/description/images/hr_acc_cc_banner.png
base_accounting_kit/static/description/images/img.png
base_accounting_kit/static/description/images/logo.png
base_accounting_kit/static/description/images/mobile_service_shop_pro_banner.png
base_accounting_kit/static/description/images/o_hrms_banner.gif
base_accounting_kit/static/description/images/overview.jpg
base_accounting_kit/static/description/images/payroll_banner.gif
base_accounting_kit/static/description/images/recurring-templates.png
base_accounting_kit/static/description/images/red-pattern.png
base_accounting_kit/static/description/images/register-customer.png
base_accounting_kit/static/description/images/report-1.png
base_accounting_kit/static/description/images/report-2.png
base_accounting_kit/static/description/images/report-3.png
base_accounting_kit/static/description/images/report-4.png
base_accounting_kit/static/description/images/report-5.png
base_accounting_kit/static/description/images/report-6.png
base_accounting_kit/static/description/images/report-7.png
base_accounting_kit/static/description/images/report-8.png
base_accounting_kit/static/description/images/report-9.png
base_accounting_kit/static/description/images/report-10.png
base_accounting_kit/static/description/images/swiss-flag.png
base_accounting_kit/static/description/images/trophy.png
base_accounting_kit/static/description/images/xslx_image.png
base_accounting_kit/static/description/images/yellow-pattern.png
base_accounting_kit/static/description/images/icons/ecom.png
base_accounting_kit/static/description/images/icons/education.png
base_accounting_kit/static/description/images/icons/hotel.png
base_accounting_kit/static/description/images/icons/manufacturing.png
base_accounting_kit/static/description/images/icons/pos.png
base_accounting_kit/static/description/images/icons/restaurant.png
base_accounting_kit/static/description/images/icons/service.png
base_accounting_kit/static/description/images/icons/trading.png
base_accounting_kit/static/description/images/icons/update.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_4.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_5.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_11.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_21.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_25.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_43.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit_60.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit-3.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit-18.png
base_accounting_kit/static/description/images/screenshots/base_accounting_kit-24.png
base_accounting_kit/static/description/images/screenshots/screenshot 9.png
base_accounting_kit/static/description/images/screenshots/screenshot_1.png
base_accounting_kit/static/description/images/screenshots/screenshot1_dasboard_arabic.png
base_accounting_kit/static/description/images/screenshots/screenshot1_dashboard_spanish.png
base_accounting_kit/static/description/images/screenshots/screenshot2.png
base_accounting_kit/static/description/images/screenshots/screenshot3.png
base_accounting_kit/static/description/images/screenshots/screenshot4.png
base_accounting_kit/static/description/images/screenshots/screenshot5.png
base_accounting_kit/static/description/images/screenshots/screenshot6.png
base_accounting_kit/static/description/images/screenshots/screenshot7-can combine to one image_1.png
base_accounting_kit/static/description/images/screenshots/screenshot7-can combine to one image_2.png
base_accounting_kit/static/description/images/screenshots/screenshot7-can combine to one image_3.png
base_accounting_kit/static/description/images/screenshots/screenshot7-can combine to one image_4.png
base_accounting_kit/static/description/images/screenshots/screenshot8.png
base_accounting_kit/static/description/images/screenshots/screenshot10-can combine to one image_1.png
base_accounting_kit/static/description/images/screenshots/screenshot10-can combine to one image_2.png
base_accounting_kit/static/description/images/screenshots/screenshot10-can combine to one image_3.png
base_accounting_kit/static/description/images/screenshots/screenshot10-can combine to one image_4.png
base_accounting_kit/static/description/images/screenshots/screenshot10-can combine to one image_5.png
base_accounting_kit/static/description/images/screenshots/screenshot11.png
base_accounting_kit/static/lib/Chart.bundle.js
base_accounting_kit/static/lib/Chart.bundle.min.js
base_accounting_kit/static/lib/Chart.css
base_accounting_kit/static/lib/Chart.js
base_accounting_kit/static/lib/Chart.min.css
base_accounting_kit/static/lib/Chart.min.js
base_accounting_kit/static/lib/chartist.min.css
base_accounting_kit/static/lib/chartist.min.js
base_accounting_kit/static/lib/font-awesome-animation.min.css
base_accounting_kit/static/lib/font-awesome.min.css
base_accounting_kit/static/lib/fusioncharts.charts.js
base_accounting_kit/static/lib/fusioncharts.jqueryplugin.min.js
base_accounting_kit/static/lib/fusioncharts.js
base_accounting_kit/static/lib/fusioncharts.theme.fusion.js
base_accounting_kit/static/lib/jquery-3.3.1.min.js
base_accounting_kit/static/lib/bootstrap-toggle-master/_gitignore
base_accounting_kit/static/lib/bootstrap-toggle-master/bower.json
base_accounting_kit/static/lib/bootstrap-toggle-master/Gruntfile.js
base_accounting_kit/static/lib/bootstrap-toggle-master/index.html
base_accounting_kit/static/lib/bootstrap-toggle-master/LICENSE
base_accounting_kit/static/lib/bootstrap-toggle-master/package.json
base_accounting_kit/static/lib/bootstrap-toggle-master/README.md
base_accounting_kit/static/lib/bootstrap-toggle-master/css/bootstrap-toggle.css
base_accounting_kit/static/lib/bootstrap-toggle-master/css/bootstrap-toggle.min.css
base_accounting_kit/static/lib/bootstrap-toggle-master/css/bootstrap2-toggle.css
base_accounting_kit/static/lib/bootstrap-toggle-master/css/bootstrap2-toggle.min.css
base_accounting_kit/static/lib/bootstrap-toggle-master/doc/header.png
base_accounting_kit/static/lib/bootstrap-toggle-master/doc/nyt.png
base_accounting_kit/static/lib/bootstrap-toggle-master/doc/nytdev.svg
base_accounting_kit/static/lib/bootstrap-toggle-master/doc/script.js
base_accounting_kit/static/lib/bootstrap-toggle-master/doc/stylesheet.css
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap-toggle.js
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap-toggle.min.js
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap-toggle.min.js.map
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap2-toggle.js
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap2-toggle.min.js
base_accounting_kit/static/lib/bootstrap-toggle-master/js/bootstrap2-toggle.min.js.map
base_accounting_kit/static/src/js/account_asset.js
base_accounting_kit/static/src/js/account_dashboard.js
base_accounting_kit/static/src/scss/account_asset.scss
base_accounting_kit/static/src/scss/style.scss
base_accounting_kit/static/src/xml/template.xml
base_accounting_kit/views/account_asset_templates.xml
base_accounting_kit/views/account_asset_views.xml
base_accounting_kit/views/account_configuration.xml
base_accounting_kit/views/account_followup.xml
base_accounting_kit/views/account_group.xml
base_accounting_kit/views/account_move_views.xml
base_accounting_kit/views/account_payment_view.xml
base_accounting_kit/views/accounting_menu.xml
base_accounting_kit/views/assets.xml
base_accounting_kit/views/credit_limit_view.xml
base_accounting_kit/views/dashboard_views.xml
base_accounting_kit/views/followup_report.xml
base_accounting_kit/views/multiple_invoice_form.xml
base_accounting_kit/views/multiple_invoice_layout_view.xml
base_accounting_kit/views/product_template_views.xml
base_accounting_kit/views/product_views.xml
base_accounting_kit/views/recurring_payments_view.xml
base_accounting_kit/views/reports_config_view.xml
base_accounting_kit/views/res_config_view.xml
base_accounting_kit/wizard/__init__.py
base_accounting_kit/wizard/account_bank_book_wizard_view.xml
base_accounting_kit/wizard/account_bank_book_wizard.py
base_accounting_kit/wizard/account_cash_book_wizard_view.xml
base_accounting_kit/wizard/account_cash_book_wizard.py
base_accounting_kit/wizard/account_day_book_wizard_view.xml
base_accounting_kit/wizard/account_day_book_wizard.py
base_accounting_kit/wizard/account_lock_date.py
base_accounting_kit/wizard/account_lock_date.xml
base_accounting_kit/wizard/account_report_common_partner.py
base_accounting_kit/wizard/aged_partner.py
base_accounting_kit/wizard/aged_partner.xml
base_accounting_kit/wizard/asset_depreciation_confirmation_wizard_views.xml
base_accounting_kit/wizard/asset_depreciation_confirmation_wizard.py
base_accounting_kit/wizard/asset_modify_views.xml
base_accounting_kit/wizard/asset_modify.py
base_accounting_kit/wizard/cash_flow_report.py
base_accounting_kit/wizard/cash_flow_report.xml
base_accounting_kit/wizard/financial_report.py
base_accounting_kit/wizard/financial_report.xml
base_accounting_kit/wizard/general_ledger.py
base_accounting_kit/wizard/general_ledger.xml
base_accounting_kit/wizard/journal_audit.py
base_accounting_kit/wizard/journal_audit.xml
base_accounting_kit/wizard/partner_ledger.py
base_accounting_kit/wizard/partner_ledger.xml
base_accounting_kit/wizard/tax_report.py
base_accounting_kit/wizard/tax_report.xml
base_accounting_kit/wizard/trial_balance.py
base_accounting_kit/wizard/trial_balance.xml
partner_firstname/__init__.py
partner_firstname/__manifest__.py
partner_firstname/exceptions.py
partner_firstname/hooks.py
partner_firstname/README.rst
partner_firstname/i18n/am.po
partner_firstname/i18n/ar.po
partner_firstname/i18n/bg.po
partner_firstname/i18n/bs.po
partner_firstname/i18n/ca.po
partner_firstname/i18n/cs.po
partner_firstname/i18n/da.po
partner_firstname/i18n/de.po
partner_firstname/i18n/el_GR.po
partner_firstname/i18n/en_GB.po
partner_firstname/i18n/es_CR.po
partner_firstname/i18n/es_EC.po
partner_firstname/i18n/es_MX.po
partner_firstname/i18n/es_VE.po
partner_firstname/i18n/es.po
partner_firstname/i18n/et.po
partner_firstname/i18n/eu.po
partner_firstname/i18n/fi.po
partner_firstname/i18n/fr_CA.po
partner_firstname/i18n/fr_CH.po
partner_firstname/i18n/fr.po
partner_firstname/i18n/gl.po
partner_firstname/i18n/hr_HR.po
partner_firstname/i18n/hr.po
partner_firstname/i18n/hu.po
partner_firstname/i18n/it.po
partner_firstname/i18n/ja.po
partner_firstname/i18n/lt.po
partner_firstname/i18n/lv.po
partner_firstname/i18n/mk.po
partner_firstname/i18n/mn.po
partner_firstname/i18n/nb_NO.po
partner_firstname/i18n/nb.po
partner_firstname/i18n/nl_BE.po
partner_firstname/i18n/nl_NL.po
partner_firstname/i18n/nl.po
partner_firstname/i18n/partner_firstname.pot
partner_firstname/i18n/pl.po
partner_firstname/i18n/pt_BR.po
partner_firstname/i18n/pt_PT.po
partner_firstname/i18n/pt.po
partner_firstname/i18n/ro.po
partner_firstname/i18n/ru.po
partner_firstname/i18n/sk.po
partner_firstname/i18n/sl.po
partner_firstname/i18n/sr@latin.po
partner_firstname/i18n/sv.po
partner_firstname/i18n/th.po
partner_firstname/i18n/tr_TR.po
partner_firstname/i18n/tr.po
partner_firstname/i18n/vi.po
partner_firstname/i18n/zh_CN.po
partner_firstname/i18n/zh_TW.po
partner_firstname/models/__init__.py
partner_firstname/models/base_config_settings.py
partner_firstname/models/res_partner.py
partner_firstname/models/res_users.py
partner_firstname/readme/CONFIGURE.rst
partner_firstname/readme/CONTRIBUTORS.rst
partner_firstname/readme/DESCRIPTION.rst
partner_firstname/readme/ROADMAP.rst
partner_firstname/readme/USAGE.rst
partner_firstname/static/description/icon.png
partner_firstname/static/description/index.html
partner_firstname/tests/__init__.py
partner_firstname/tests/base.py
partner_firstname/tests/test_config_settings.py
partner_firstname/tests/test_copy.py
partner_firstname/tests/test_create.py
partner_firstname/tests/test_defaults.py
partner_firstname/tests/test_delete.py
partner_firstname/tests/test_empty.py
partner_firstname/tests/test_name.py
partner_firstname/tests/test_order.py
partner_firstname/tests/test_partner_form.py
partner_firstname/tests/test_user_form.py
partner_firstname/views/base_config_view.xml
partner_firstname/views/res_partner.xml
partner_firstname/views/res_user.xml
teclib_siret/__init__.py
teclib_siret/__manifest__.py
teclib_siret/README.md
teclib_siret/i18n/fr.po
teclib_siret/models/__init__.py
teclib_siret/models/res_partner.py
teclib_siret/security/ir.model.access.csv
teclib_siret/security/security.xml
teclib_siret/static/description/gif_partner_sirene.gif
teclib_siret/static/description/icon.png
teclib_siret/static/description/img1_partner_sirene.png
teclib_siret/static/description/img2_partner_sirene.png
teclib_siret/static/description/img3_partner_sirene.jpg
teclib_siret/static/description/index.html
teclib_siret/static/description/logo_couleur_200p_62p_72dpi.png
teclib_siret/static/description/logos_hodei_odoo.png
teclib_siret/static/description/odoo_gold_partner_rgb.png
teclib_siret/static/description/visuels_odoo_cloud_10.png
teclib_siret/tests/__init__.py
teclib_siret/wizard/__init__.py
